<h1>POC CSV to JSON</h1>
<p *ngIf="loading">Loading...</p>
<input type="file" name="files" class="form-control" #uploads (change)="onChange(uploads.files)" multiple
  value="process" />
<br>
<div class="container">
  <section class="timer-counter-label">
    <div *ngIf="counter; else elseBlock"> {{counter}} </div>
    <ng-template #elseBlock> Select FIle </ng-template>
  </section>
</div>
<div>
  <p>total {{dataList.length}} record(s)</p>
</div>
<div>
  <input type="button" value="Post" (click)="submitData()">
</div>
